<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Singapore Housing Data and Kaggle Challenge

### Contents:
- [Background](#Background)
- [Data Dictionary](#Data-Dictionary)
- [Loading of Libraries](#Loading-of-Libraries) 
- [Baseline Model](#Baseline-Model)
  - [Data Import and Cleaning](#Data-Import-and-Cleaning)
  - [Data Preprocessing](#Data-Preprocessing)
  - [Modelling](#Modelling)
- [Making Predictions](#Making-Predictions)
- [Kaggle Data Preparation](#Kaggle-Data-Preparation)

## Background

The [Housing & Development Board (HDB)](https://www.hdb.gov.sg/about-us) is Singapore's public housing authority. It plans and develops Singapore's housing estates; building homes and transforming towns to create a quality living environment for all. It provides various commercial, recreational, and social amenities in the towns for the residentsâ€™ convenience.

Today, more than 1 million flats have been completed in 23 towns and 3 estates across the island. HDB flats spell home for 80% of Singapore's resident population, of which about 90% own their home.

According to the [Singapore Government Agency Website](https://www.gov.sg/article/evolution-of-public-housing-in-singapore), to meet the population's needs, Singapore's public housing plans have evolved over the years, with various sales modes, grants and priority schemes introduced.

To ensure affordable public housing for Singaporeans as well as a stable property market, September 2022 saw the latest set of [cooling measures](https://www.straitstimes.com/business/property/stricter-borrowing-criteria-for-property-buyers-15-month-wait-for-private-property-owners-moving-to-hdb-flats) introduced.

### Datasets

There are 3 datasets included in the [`datasets`](../datasets/) folder for this Kaggle challenge project. These correponds to the Kaggle train dataset, test dataset and submission format.

* [`train.csv`](../datasets/train.csv): this data contains all of the training data for the model
* [`test.csv`](../datasets/test.csv): this data contains the test data for the model
* [`sample_sub_reg.csv`](../datasets/sample_sub_reg.csv): an example of a correctly formatted submission for the Kaggle challenge

### Data Dictionary

|Feature|Type|Description|
|:---|:---|:---| 
|resale_price|float|the property's sale price in Singapore dollars. This is the target variable that you're trying to predict for this challenge.|
|Tranc_YearMonth|string|year and month of the resale transaction, e.g. 2015-02|
|town|string|HDB township where the flat is located, e.g. BUKIT MERAH|
|flat_type|string|type of the resale flat unit, e.g. 3 ROOM|
|block|string|block number of the resale flat, e.g. 454|
|street_name|string|street name where the resale flat resides, e.g. TAMPINES ST 42|
|storey_range|string|floor level (range) of the resale flat unit, e.g. 07 TO 09|
|floor_area_sqm|float|floor area of the resale flat unit in square metres|
|flat_model|string|HDB model of the resale flat, e.g. Multi Generation|
|lease_commence_date|integer|commencement year of the flat unit's 99-year lease|
|Tranc_Year|integer|year of resale transaction|
|Tranc_Month|integer|month of resale transaction|
|mid_storey|integer|median value of storey_range|
|lower|integer|lower value of storey_range|
|upper|integer|upper value of storey_range|
|mid|integer|middle value of storey_range|
|full_flat_type|string|combination of flat_type and flat_model|
|address|string|combination of block and street_name|
|floor_area_sqft|float|floor area of the resale flat unit in square feet|
|hdb_age|integer|number of years from lease_commence_date to present year|
|max_floor_lvl|integer|highest floor of the resale flat|
|year_completed|integer|year which construction was completed for resale flat|
|residential|boolean|boolean value if resale flat has residential units in the same block|
|commercial|boolean|boolean value if resale flat has commercial units in the same block|
|market_hawker|boolean|boolean value if resale flat has a market or hawker centre in the same block|
|multistorey_carpark|boolean|boolean value if resale flat has a multistorey carpark in the same block|
|precinct_pavilion|boolean|boolean value if resale flat has a pavilion in the same block|
|total_dwelling_units|integer|total number of residential dwelling units in the resale flat|
|1room_sold|integer|number of 1-room residential units in the resale flat|
|2room_sold|integer|number of 2-room residential units in the resale flat|
|3room_sold|integer|number of 3-room residential units in the resale flat|
|4room_sold|integer|number of 4-room residential units in the resale flat|
|5room_sold|integer|number of 5-room residential units in the resale flat|
|exec_sold|integer|number of executive type residential units in the resale flat block|
|multigen_sold|integer|number of multi-generational type residential units in the resale flat block|
|studio_apartment_sold|integer|number of studio apartment type residential units in the resale flat block|
|1room_rental|integer|number of 1-room rental residential units in the resale flat block|
|2room_rental|integer|number of 2-room rental residential units in the resale flat block|
|3room_rental|integer|number of 3-room rental residential units in the resale flat block|
|other_room_rental|integer|number of "other" type rental residential units in the resale flat block|
|postal|integer|postal code of the resale flat block|
|Latitude|float|Latitude based on postal code|
|Longitude|float|Longitude based on postal code|
|planning_area|string|Government planning area that the flat is located|
|Mall_Nearest_Distance|float|distance (in metres) to the nearest mall|
|Mall_Within_500m|float|number of malls within 500 metres|
|Mall_Within_1km|float|number of malls within 1 kilometre|
|Mall_Within_2km|float|number of malls within 2 kilometres|
|Hawker_Nearest_Distance|float|distance (in metres) to the nearest hawker centre|
|Hawker_Within_500m|float|number of hawker centres within 500 metres|
|Hawker_Within_1km|float|number of hawker centres within 1 kilometre|
|Hawker_Within_2km|float|number of hawker centres within 2 kilometres|
|hawker_food_stalls|integer|number of hawker food stalls in the nearest hawker centre|
|hawker_market_stalls|integer|number of hawker and market stalls in the nearest hawker centre|
|mrt_nearest_distance|float|distance (in metres) to the nearest MRT station|
|mrt_name|string|name of the nearest MRT station|
|bus_interchange|boolean|boolean value if the nearest MRT station is also a bus interchange|
|mrt_interchange|boolean|boolean value if the nearest MRT station is a train interchange station|
|mrt_latitude|float|latitude (in decimal degrees) of the the nearest MRT station|
|mrt_longitude|float|longitude (in decimal degrees) of the nearest MRT station|
|bus_stop_nearest_distance|float|distance (in metres) to the nearest bus stop|
|bus_stop_name|string|name of the nearest bus stop|
|bus_stop_latitude|float|latitude (in decimal degrees) of the the nearest bus stop|
|bus_stop_longitude|float|longitude (in decimal degrees) of the nearest bus stop|
|pri_sch_nearest_distance|float|distance (in metres) to the nearest primary school|
|pri_sch_name|string|name of the nearest primary school|
|vacancy|integer|number of vacancies in the nearest primary school|
|pri_sch_affiliation|boolean|boolean value if the nearest primary school has a secondary - school affiliation|
|pri_sch_latitude|float|latitude (in decimal degrees) of the the nearest primary school|
|pri_sch_longitude|float|longitude (in decimal degrees) of the nearest primary school|
|sec_sch_nearest_dist|float|distance (in metres) to the nearest secondary school|
|sec_sch_name|string|name of the nearest secondary school|
|cutoff_point|integer|PSLE cutoff point of the nearest secondary school|
|affiliation|boolean|boolean value if the nearest secondary school has an primary school affiliation|
|sec_sch_latitude|float|latitude (in decimal degrees) of the the nearest secondary school|
|sec_sch_longitude|float|longitude (in decimal degrees) of the nearest secondary school|

## Problem Statement

In land-scarce Singapore, housing not only provides a roof over peopleâ€™s heads but also works out to be one of the largest assets families hold over their lifetimes. However, choosing a property which has a high-yield potential is no easy feat.

We are a team of data scientists working for a property investment company seeking to help meet the higher aspirations of rising middle to upper-middle class Singaporeans who might otherwise be outpriced in the private property market. We are tasked to build a housing price prediction model to help prospective homeowners find a home which aim to flip public housing for monetary gain.

## Loading of Libraries

In [1]:
# Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV, ElasticNetCV
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_val_score
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Baseline Model
## Data Import and Cleaning
- Load dataset
- Check for missing values and datatype
- Rename columns when necessary
- Drop unnecessary columns

#### Load Data

In [2]:
# Load data
housing = pd.read_csv('../datasets/train.csv')
print(housing.shape)
housing.head()

/var/folders/w4/cdf3yttj10d7ynthq7lkp5fh0000gn/T/ipykernel_52332/2126435666.py:2: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  housing = pd.read_csv('../datasets/train.csv')

(150634, 77)

,id,Tranc_YearMonth,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,...,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,sec_sch_latitude,sec_sch_longitude
0,88471,2016-05,KALLANG/WHAMPOA,4 ROOM,3B,UPP BOON KENG RD,10 TO 12,90.0,Model A,2006,...,78,1,1.317659,103.882504,1138.633422,Geylang Methodist School,224,0,1.317659,103.882504
1,122598,2012-07,BISHAN,5 ROOM,153,BISHAN ST 13,07 TO 09,130.0,Improved,1987,...,45,1,1.349783,103.854529,447.894399,Kuo Chuan Presbyterian Secondary School,232,0,1.350110,103.854892
2,170897,2013-07,BUKIT BATOK,EXECUTIVE,289B,BT BATOK ST 25,13 TO 15,144.0,Apartment,1997,...,39,0,1.345245,103.756265,180.074558,Yusof Ishak Secondary School,188,0,1.342334,103.760013
3,86070,2012-04,BISHAN,4 ROOM,232,BISHAN ST 22,01 TO 05,103.0,Model A,1992,...,20,1,1.354789,103.844934,389.515528,Catholic High School,253,1,1.354789,103.844934
4,153632,2017-12,YISHUN,4 ROOM,876,YISHUN ST 81,01 TO 03,83.0,Simplified,1987,...,74,0,1.416280,103.838798,312.025435,Orchid Park Secondary School,208,0,1.414888,103.838335

#### Check for missing values and datatype

In [3]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150634 entries, 0 to 150633
Data columns (total 77 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         150634 non-null  int64
 1   Tranc_YearMonth            150634 non-null  object
 2   town                       150634 non-null  object
 3   flat_type                  150634 non-null  object
 4   block                      150634 non-null  object
 5   street_name                150634 non-null  object
 6   storey_range               150634 non-null  object
 7   floor_area_sqm             150634 non-null  float64
 8   flat_model                 150634 non-null  object
 9   lease_commence_date        150634 non-null  int64
 10  resale_price               150634 non-null  float64
 11  Tranc_Year                 150634 non-null  int64
 12  Tranc_Month                150634 non-null  int64
 13  mid_storey                 150634 non-null  int64
 14  lower                      150634 non-null  int64
 15  upper                      150634 non-null  int64
 16  mid                        150634 non-null  int64
 17  full_flat_type             150634 non-null  object
 18  address                    150634 non-null  object
 19  floor_area_sqft            150634 non-null  float64
 20  hdb_age                    150634 non-null  int64
 21  max_floor_lvl              150634 non-null  int64
 22  year_completed             150634 non-null  int64
 23  residential                150634 non-null  object
 24  commercial                 150634 non-null  object
 25  market_hawker              150634 non-null  object
 26  multistorey_carpark        150634 non-null  object
 27  precinct_pavilion          150634 non-null  object
 28  total_dwelling_units       150634 non-null  int64
 29  1room_sold                 150634 non-null  int64
 30  2room_sold                 150634 non-null  int64
 31  3room_sold                 150634 non-null  int64
 32  4room_sold                 150634 non-null  int64
 33  5room_sold                 150634 non-null  int64
 34  exec_sold                  150634 non-null  int64
 35  multigen_sold              150634 non-null  int64
 36  studio_apartment_sold      150634 non-null  int64
 37  1room_rental               150634 non-null  int64
 38  2room_rental               150634 non-null  int64
 39  3room_rental               150634 non-null  int64
 40  other_room_rental          150634 non-null  int64
 41  postal                     150634 non-null  object
 42  Latitude                   150634 non-null  float64
 43  Longitude                  150634 non-null  float64
 44  planning_area              150634 non-null  object
 45  Mall_Nearest_Distance      149805 non-null  float64
 46  Mall_Within_500m           57845 non-null   float64
 47  Mall_Within_1km            125208 non-null  float64
 48  Mall_Within_2km            148694 non-null  float64
 49  Hawker_Nearest_Distance    150634 non-null  float64
 50  Hawker_Within_500m         53244 non-null   float64
 51  Hawker_Within_1km          89766 non-null   float64
 52  Hawker_Within_2km          121432 non-null  float64
 53  hawker_food_stalls         150634 non-null  int64
 54  hawker_market_stalls       150634 non-null  int64
 55  mrt_nearest_distance       150634 non-null  float64
 56  mrt_name                   150634 non-null  object
 57  bus_interchange            150634 non-null  int64
 58  mrt_interchange            150634 non-null  int64
 59  mrt_latitude               150634 non-null  float64
 60  mrt_longitude              150634 non-null  float64
 61  bus_stop_nearest_distance  150634 non-null  float64
 62  bus_stop_name              150634 non-null  object
 63  bus_stop_latitude          150634 non-null  float64
 64  bus_stop_longitude         150634 non-null  float64
 65  pri_sch_nearest_distance   150634 non-null  float64
 66  pri_sch_name               150634 non-null  object
 67  vacancy                    150634 non-null  int64
 68  pri_sch_affiliation        150634 non-null  int64
 69  pri_sch_latitude           150634 non-null  float64
 70  pri_sch_longitude          150634 non-null  float64
 71  sec_sch_nearest_dist       150634 non-null  float64
 72  sec_sch_name               150634 non-null  object
 73  cutoff_point               150634 non-null  int64
 74  affiliation                150634 non-null  int64
 75  sec_sch_latitude           150634 non-null  float64
 76  sec_sch_longitude          150634 non-null  float64
dtypes: float64(25), int64(32), object(20)
memory usage: 88.5+ MB

There are missing values in `Mall_Nearest_Distance`, `Mall_Within_500m`, `Mall_Within_1km`, `Mall_Within_2km`, `Hawker_Within_500m`, `Hawker_Within_1km`, `Hawker_Within_2km` columns

In [4]:
# Columns were checked for unique values before deciding on which datatype to change, which col to rename and drop
# for e.g.
housing['residential'].unique()

array(['Y'], dtype=object)

In [5]:
# Change datatype to reflect columns correctly
housing['Tranc_YearMonth'] = pd.to_datetime(housing['Tranc_YearMonth'])
housing['residential'] = housing['residential'].map({'Y': True, 'N': False})
housing['commercial'] = housing['commercial'].map({'Y': True, 'N': False})
housing['market_hawker'] = housing['market_hawker'].map({'Y': True, 'N': False})
housing['multistorey_carpark'] = housing['multistorey_carpark'].map({'Y': True, 'N': False})
housing['precinct_pavilion'] = housing['precinct_pavilion'].map({'Y': True, 'N': False})
housing['bus_interchange'] = housing['bus_interchange'].map({1: True, 0: False})
housing['mrt_interchange'] = housing['mrt_interchange'].map({1: True, 0: False})
housing['pri_sch_affiliation'] = housing['pri_sch_affiliation'].map({1: True, 0: False})
housing['affiliation'] = housing['affiliation'].map({1: True, 0: False})
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150634 entries, 0 to 150633
Data columns (total 77 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         150634 non-null  int64
 1   Tranc_YearMonth            150634 non-null  datetime64[ns]
 2   town                       150634 non-null  object
 3   flat_type                  150634 non-null  object
 4   block                      150634 non-null  object
 5   street_name                150634 non-null  object
 6   storey_range               150634 non-null  object
 7   floor_area_sqm             150634 non-null  float64
 8   flat_model                 150634 non-null  object
 9   lease_commence_date        150634 non-null  int64
 10  resale_price               150634 non-null  float64
 11  Tranc_Year                 150634 non-null  int64
 12  Tranc_Month                150634 non-null  int64
 13  mid_storey                 150634 non-null  int64
 14  lower                      150634 non-null  int64
 15  upper                      150634 non-null  int64
 16  mid                        150634 non-null  int64
 17  full_flat_type             150634 non-null  object
 18  address                    150634 non-null  object
 19  floor_area_sqft            150634 non-null  float64
 20  hdb_age                    150634 non-null  int64
 21  max_floor_lvl              150634 non-null  int64
 22  year_completed             150634 non-null  int64
 23  residential                150634 non-null  bool
 24  commercial                 150634 non-null  bool
 25  market_hawker              150634 non-null  bool
 26  multistorey_carpark        150634 non-null  bool
 27  precinct_pavilion          150634 non-null  bool
 28  total_dwelling_units       150634 non-null  int64
 29  1room_sold                 150634 non-null  int64
 30  2room_sold                 150634 non-null  int64
 31  3room_sold                 150634 non-null  int64
 32  4room_sold                 150634 non-null  int64
 33  5room_sold                 150634 non-null  int64
 34  exec_sold                  150634 non-null  int64
 35  multigen_sold              150634 non-null  int64
 36  studio_apartment_sold      150634 non-null  int64
 37  1room_rental               150634 non-null  int64
 38  2room_rental               150634 non-null  int64
 39  3room_rental               150634 non-null  int64
 40  other_room_rental          150634 non-null  int64
 41  postal                     150634 non-null  object
 42  Latitude                   150634 non-null  float64
 43  Longitude                  150634 non-null  float64
 44  planning_area              150634 non-null  object
 45  Mall_Nearest_Distance      149805 non-null  float64
 46  Mall_Within_500m           57845 non-null   float64
 47  Mall_Within_1km            125208 non-null  float64
 48  Mall_Within_2km            148694 non-null  float64
 49  Hawker_Nearest_Distance    150634 non-null  float64
 50  Hawker_Within_500m         53244 non-null   float64
 51  Hawker_Within_1km          89766 non-null   float64
 52  Hawker_Within_2km          121432 non-null  float64
 53  hawker_food_stalls         150634 non-null  int64
 54  hawker_market_stalls       150634 non-null  int64
 55  mrt_nearest_distance       150634 non-null  float64
 56  mrt_name                   150634 non-null  object
 57  bus_interchange            150634 non-null  bool
 58  mrt_interchange            150634 non-null  bool
 59  mrt_latitude               150634 non-null  float64
 60  mrt_longitude              150634 non-null  float64
 61  bus_stop_nearest_distance  150634 non-null  float64
 62  bus_stop_name              150634 non-null  object
 63  bus_stop_latitude          150634 non-null  float64
 64  bus_stop_longitude         150634 non-null  float64
 65  pri_sch_nearest_distance   150634 non-null  float64
 66  pri_sch_name               150634 non-null  object
 67  vacancy                    150634 non-null  int64
 68  pri_sch_affiliation        150634 non-null  bool
 69  pri_sch_latitude           150634 non-null  float64
 70  pri_sch_longitude          150634 non-null  float64
 71  sec_sch_nearest_dist       150634 non-null  float64
 72  sec_sch_name               150634 non-null  object
 73  cutoff_point               150634 non-null  int64
 74  affiliation                150634 non-null  bool
 75  sec_sch_latitude           150634 non-null  float64
 76  sec_sch_longitude          150634 non-null  float64
dtypes: bool(9), datetime64[ns](1), float64(25), int64(28), object(14)
memory usage: 79.4+ MB

Datatypes are reflected correctly, except `postal` which will be dropped so need not be corrected.

#### Rename columns when necessary

In [6]:
# Rename columns
housing.rename(columns={"Tranc_YearMonth": "tranc_year_month", 
                        "lease_commence_date": "lease_commence_year", 
                        "Tranc_Year": "tranc_year",
                        "Tranc_Month": "tranc_month",
                        "lower": "lower_storey_range",
                        "upper": "upper_storey_range",
                        "mid": "mid_storey_range",
                        "1room_sold": "1room_res",
                        "2room_sold": "2room_res",
                        "3room_sold": "3room_res",
                        "4room_sold": "4room_res",
                        "5room_sold": "5room_res",
                        "exec_sold": "exec_res",
                        "multigen_sold": "multigen_res",
                        "studio_apartment_sold": "studio_res",
                        "Latitude": "latitude",
                        "Longitude": "longitude",
                        "Mall_Nearest_Distance": "mall_nearest_distance",
                        "Mall_Within_500m": "mall_500m",
                        "Mall_Within_1km": "mall_1km",
                        "Mall_Within_2km": "mall_2km",
                        "Hawker_Nearest_Distance": "hawker_nearest_distance",
                        "Hawker_Within_500m": "hawker_500m",
                        "Hawker_Within_1km": "hawker_1km",
                        "Hawker_Within_2km": "hawker_2km",
                        "hawker_food_stalls": "hawker_stalls",
                        "bus_interchange": "mrt_bus_interchange"
                        }, inplace=True)
housing.head(2)

,id,tranc_year_month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,...,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,sec_sch_latitude,sec_sch_longitude
0,88471,2016-05-01,KALLANG/WHAMPOA,4 ROOM,3B,UPP BOON KENG RD,10 TO 12,90.0,Model A,2006,...,78,True,1.317659,103.882504,1138.633422,Geylang Methodist School,224,False,1.317659,103.882504
1,122598,2012-07-01,BISHAN,5 ROOM,153,BISHAN ST 13,07 TO 09,130.0,Improved,1987,...,45,True,1.349783,103.854529,447.894399,Kuo Chuan Presbyterian Secondary School,232,False,1.350110,103.854892

#### Check for missing values and datatype

In [7]:
# Look at values for malls
housing.loc[:5, ['mall_nearest_distance', 'mall_500m', 'mall_1km', 'mall_2km']]

   mall_nearest_distance  mall_500m  mall_1km  mall_2km
0            1094.090418        NaN       NaN       7.0
1             866.941448        NaN       1.0       3.0
2            1459.579948        NaN       NaN       4.0
3             950.175199        NaN       1.0       4.0
4             729.771895        NaN       1.0       2.0
5             684.004001        NaN       3.0       6.0

In [8]:
# Look at the different values in `mall_nearest_distance`
housing['mall_nearest_distance'].unique()

array([1094.090418 ,  866.9414477, 1459.579948 , ...,  362.8644234,
       1034.645191 , 1699.150022 ])

In [9]:
# Check for null values in `mall_nearest_distance`
housing.loc[housing['mall_nearest_distance'].isna(), 'mall_nearest_distance']

75       NaN
321      NaN
478      NaN
643      NaN
691      NaN
          ..
150296   NaN
150388   NaN
150394   NaN
150479   NaN
150625   NaN
Name: mall_nearest_distance, Length: 829, dtype: float64

In [10]:
# Find the percentage of rows with null values
829/150634

0.005503405605640161

Since the number of rows with null values in `mall_nearest_distance` is less than 1%, the rows can be dropped. For the purpose of the Kaggle submission, the column will be dropped instead.

In [11]:
# Look at the different values in `mall_500m`
housing['mall_500m'].unique()

array([nan,  1.,  3.,  4.,  2.,  5.,  6.])

In [12]:
# Look at the different values in `mall_1km`
housing['mall_1km'].unique()

array([nan,  1.,  3.,  2.,  5.,  4., 11.,  6., 10.,  7., 15., 14.,  8.,
        9., 12., 13.])

In [13]:
# Look at the different values in `mall_2km`
housing['mall_2km'].unique()

array([ 7.,  3.,  4.,  2.,  6.,  8.,  1.,  5., 27., 10.,  9., 30., 20.,
       nan, 24., 11., 12., 14., 21., 43., 26., 28., 13., 22., 25., 29.,
       33., 31., 17., 18., 23., 38., 34., 16., 32., 42., 37., 19., 39.,
       40., 15., 35.])

In [14]:
# Replace null values in 'mall_500m', 'mall_1km', 'mall_2km' with 0
housing['mall_500m'] = housing['mall_500m'].fillna(0)
housing['mall_1km'] = housing['mall_1km'].fillna(0)
housing['mall_2km'] = housing['mall_2km'].fillna(0)

In [15]:
# Look at values for hawker
housing.loc[:5, ['hawker_nearest_distance', 'hawker_500m', 'hawker_1km', 'hawker_2km']]

   hawker_nearest_distance  hawker_500m  hawker_1km  hawker_2km
0               154.753357          1.0         3.0        13.0
1               640.151925          NaN         1.0         7.0
2              1762.082341          NaN         NaN         1.0
3               726.215262          NaN         1.0         9.0
4              1540.151439          NaN         NaN         1.0
5               148.418247          2.0         5.0        11.0

In [16]:
# Replace null values in 'hawker_500m', 'hawker_1km', 'hawker_2km' with 0
housing['hawker_500m'] = housing['hawker_500m'].fillna(0)
housing['hawker_1km'] = housing['hawker_1km'].fillna(0)
housing['hawker_2km'] = housing['hawker_2km'].fillna(0)

In [17]:
# Change datatype to reflect columns correctly
# Datatypes to do with time are changed to string datatypes so that they can be one hot encoded later
housing = housing.astype({'mall_500m':'int', 'mall_1km':'int', 'mall_2km':'int', 'hawker_500m':'int', 'hawker_1km':'int', 'hawker_2km':'int', 'lease_commence_year':'object', 'tranc_year':'object', 'tranc_month':'object'})
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150634 entries, 0 to 150633
Data columns (total 77 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         150634 non-null  int64
 1   tranc_year_month           150634 non-null  datetime64[ns]
 2   town                       150634 non-null  object
 3   flat_type                  150634 non-null  object
 4   block                      150634 non-null  object
 5   street_name                150634 non-null  object
 6   storey_range               150634 non-null  object
 7   floor_area_sqm             150634 non-null  float64
 8   flat_model                 150634 non-null  object
 9   lease_commence_year        150634 non-null  object
 10  resale_price               150634 non-null  float64
 11  tranc_year                 150634 non-null  object
 12  tranc_month                150634 non-null  object
 13  mid_storey                 150634 non-null  int64
 14  lower_storey_range         150634 non-null  int64
 15  upper_storey_range         150634 non-null  int64
 16  mid_storey_range           150634 non-null  int64
 17  full_flat_type             150634 non-null  object
 18  address                    150634 non-null  object
 19  floor_area_sqft            150634 non-null  float64
 20  hdb_age                    150634 non-null  int64
 21  max_floor_lvl              150634 non-null  int64
 22  year_completed             150634 non-null  int64
 23  residential                150634 non-null  bool
 24  commercial                 150634 non-null  bool
 25  market_hawker              150634 non-null  bool
 26  multistorey_carpark        150634 non-null  bool
 27  precinct_pavilion          150634 non-null  bool
 28  total_dwelling_units       150634 non-null  int64
 29  1room_res                  150634 non-null  int64
 30  2room_res                  150634 non-null  int64
 31  3room_res                  150634 non-null  int64
 32  4room_res                  150634 non-null  int64
 33  5room_res                  150634 non-null  int64
 34  exec_res                   150634 non-null  int64
 35  multigen_res               150634 non-null  int64
 36  studio_res                 150634 non-null  int64
 37  1room_rental               150634 non-null  int64
 38  2room_rental               150634 non-null  int64
 39  3room_rental               150634 non-null  int64
 40  other_room_rental          150634 non-null  int64
 41  postal                     150634 non-null  object
 42  latitude                   150634 non-null  float64
 43  longitude                  150634 non-null  float64
 44  planning_area              150634 non-null  object
 45  mall_nearest_distance      149805 non-null  float64
 46  mall_500m                  150634 non-null  int64
 47  mall_1km                   150634 non-null  int64
 48  mall_2km                   150634 non-null  int64
 49  hawker_nearest_distance    150634 non-null  float64
 50  hawker_500m                150634 non-null  int64
 51  hawker_1km                 150634 non-null  int64
 52  hawker_2km                 150634 non-null  int64
 53  hawker_stalls              150634 non-null  int64
 54  hawker_market_stalls       150634 non-null  int64
 55  mrt_nearest_distance       150634 non-null  float64
 56  mrt_name                   150634 non-null  object
 57  mrt_bus_interchange        150634 non-null  bool
 58  mrt_interchange            150634 non-null  bool
 59  mrt_latitude               150634 non-null  float64
 60  mrt_longitude              150634 non-null  float64
 61  bus_stop_nearest_distance  150634 non-null  float64
 62  bus_stop_name              150634 non-null  object
 63  bus_stop_latitude          150634 non-null  float64
 64  bus_stop_longitude         150634 non-null  float64
 65  pri_sch_nearest_distance   150634 non-null  float64
 66  pri_sch_name               150634 non-null  object
 67  vacancy                    150634 non-null  int64
 68  pri_sch_affiliation        150634 non-null  bool
 69  pri_sch_latitude           150634 non-null  float64
 70  pri_sch_longitude          150634 non-null  float64
 71  sec_sch_nearest_dist       150634 non-null  float64
 72  sec_sch_name               150634 non-null  object
 73  cutoff_point               150634 non-null  int64
 74  affiliation                150634 non-null  bool
 75  sec_sch_latitude           150634 non-null  float64
 76  sec_sch_longitude          150634 non-null  float64
dtypes: bool(9), datetime64[ns](1), float64(19), int64(31), object(17)
memory usage: 79.4+ MB

#### Find duplicated columns

In [18]:
def getDuplicateColumns(df):
    '''
    Get a list of duplicate columns.
    It will iterate over all the columns in dataframe and find the columns whose contents are duplicate.
    :param df: Dataframe object
    :return: List of columns whose contents are duplicates.
    '''
    duplicateColumnNames = set()
    # Iterate over all the columns in dataframe
    for x in range(df.shape[1]):
        # Select column at xth index.
        col = df.iloc[:, x]
        # Iterate over all the columns in DataFrame from (x+1)th index till end
        for y in range(x + 1, df.shape[1]):
            # Select column at yth index.
            otherCol = df.iloc[:, y]
            # Check if two columns at x 7 y index are equal
            if col.equals(otherCol):
                duplicateColumnNames.add(df.columns.values[y])
    return list(duplicateColumnNames)
    duplicateColumnNames = getDuplicateColumns(dfObj)
    print('Duplicate Columns are as follows')
    for col in duplicateColumnNames:
        print('Column name : ', col)

In [19]:
getDuplicateColumns(housing)

['mid_storey_range']

#### Drop unnecessary columns

In [20]:
# Check for unnecessary columns
# Look at the different values in `mid_storey`
housing['mid_storey'].unique()

array([11,  8, 14,  3,  2, 29, 20,  5, 17, 23, 18, 35, 26, 13, 38, 32, 44,
       41, 50, 47, 28, 33])

In [21]:
# Look at the different values in `mid_storey_range`
housing['mid_storey_range'].unique()

array([11,  8, 14,  3,  2, 29, 20,  5, 17, 23, 18, 35, 26, 13, 38, 32, 44,
       41, 50, 47, 28, 33])

`mid_storey` and `mid_storey_range` cols have the same values, so `mid_storey` can be dropped

In [22]:
# Look at the different values in `residential`
housing['residential'].unique()

array([ True])

All the values in `residential` col are True, so the col can be dropped

In [23]:
# Look at the different values in `planning_area`
housing['planning_area'].unique()

array(['Kallang', 'Bishan', 'Bukit Batok', 'Yishun', 'Geylang', 'Hougang',
       'Bedok', 'Sengkang', 'Tampines', 'Serangoon', 'Bukit Merah',
       'Bukit Panjang', 'Woodlands', 'Jurong West', 'Toa Payoh',
       'Choa Chu Kang', 'Sembawang', 'Novena', 'Ang Mo Kio', 'Pasir Ris',
       'Clementi', 'Punggol', 'Jurong East', 'Rochor', 'Queenstown',
       'Bukit Timah', 'Outram', 'Tanglin', 'Marine Parade',
       'Western Water Catchment', 'Downtown Core', 'Changi'], dtype=object)

In [24]:
# Look at the different values in `town`
housing['town'].unique()

array(['KALLANG/WHAMPOA', 'BISHAN', 'BUKIT BATOK', 'YISHUN', 'GEYLANG',
       'HOUGANG', 'BEDOK', 'SENGKANG', 'TAMPINES', 'SERANGOON',
       'BUKIT MERAH', 'BUKIT PANJANG', 'WOODLANDS', 'JURONG WEST',
       'TOA PAYOH', 'CHOA CHU KANG', 'SEMBAWANG', 'ANG MO KIO',
       'PASIR RIS', 'CLEMENTI', 'PUNGGOL', 'JURONG EAST', 'CENTRAL AREA',
       'QUEENSTOWN', 'BUKIT TIMAH', 'MARINE PARADE'], dtype=object)

`planning_area` and `town` are mostly overlapping and `planning_area` is more specific than `town` so `town` can be dropped

`postal` is made up of sector code which overlaps with `planning_area` and `town` so it can be dropped

In [25]:
# Drop unnecessary columns
housing.drop(['id', 'tranc_year_month', 'block', 'street_name', 'address', 'full_flat_type', 'mid_storey', 'residential', 'town', 'bus_stop_name', 'postal', 'mall_nearest_distance'], axis=1, inplace=True)
housing.head(2)

,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_year,resale_price,tranc_year,tranc_month,lower_storey_range,upper_storey_range,...,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,sec_sch_latitude,sec_sch_longitude
0,4 ROOM,10 TO 12,90.0,Model A,2006,680000.0,2016,5,10,12,...,78,True,1.317659,103.882504,1138.633422,Geylang Methodist School,224,False,1.317659,103.882504
1,5 ROOM,07 TO 09,130.0,Improved,1987,665000.0,2012,7,7,9,...,45,True,1.349783,103.854529,447.894399,Kuo Chuan Presbyterian Secondary School,232,False,1.350110,103.854892

## Data Preprocessing
- Train/test split data
- One-hot encoding to columns with categorical data
- Scale data

In [26]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150634 entries, 0 to 150633
Data columns (total 65 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   flat_type                  150634 non-null  object
 1   storey_range               150634 non-null  object
 2   floor_area_sqm             150634 non-null  float64
 3   flat_model                 150634 non-null  object
 4   lease_commence_year        150634 non-null  object
 5   resale_price               150634 non-null  float64
 6   tranc_year                 150634 non-null  object
 7   tranc_month                150634 non-null  object
 8   lower_storey_range         150634 non-null  int64
 9   upper_storey_range         150634 non-null  int64
 10  mid_storey_range           150634 non-null  int64
 11  floor_area_sqft            150634 non-null  float64
 12  hdb_age                    150634 non-null  int64
 13  max_floor_lvl              150634 non-null  int64
 14  year_completed             150634 non-null  int64
 15  commercial                 150634 non-null  bool
 16  market_hawker              150634 non-null  bool
 17  multistorey_carpark        150634 non-null  bool
 18  precinct_pavilion          150634 non-null  bool
 19  total_dwelling_units       150634 non-null  int64
 20  1room_res                  150634 non-null  int64
 21  2room_res                  150634 non-null  int64
 22  3room_res                  150634 non-null  int64
 23  4room_res                  150634 non-null  int64
 24  5room_res                  150634 non-null  int64
 25  exec_res                   150634 non-null  int64
 26  multigen_res               150634 non-null  int64
 27  studio_res                 150634 non-null  int64
 28  1room_rental               150634 non-null  int64
 29  2room_rental               150634 non-null  int64
 30  3room_rental               150634 non-null  int64
 31  other_room_rental          150634 non-null  int64
 32  latitude                   150634 non-null  float64
 33  longitude                  150634 non-null  float64
 34  planning_area              150634 non-null  object
 35  mall_500m                  150634 non-null  int64
 36  mall_1km                   150634 non-null  int64
 37  mall_2km                   150634 non-null  int64
 38  hawker_nearest_distance    150634 non-null  float64
 39  hawker_500m                150634 non-null  int64
 40  hawker_1km                 150634 non-null  int64
 41  hawker_2km                 150634 non-null  int64
 42  hawker_stalls              150634 non-null  int64
 43  hawker_market_stalls       150634 non-null  int64
 44  mrt_nearest_distance       150634 non-null  float64
 45  mrt_name                   150634 non-null  object
 46  mrt_bus_interchange        150634 non-null  bool
 47  mrt_interchange            150634 non-null  bool
 48  mrt_latitude               150634 non-null  float64
 49  mrt_longitude              150634 non-null  float64
 50  bus_stop_nearest_distance  150634 non-null  float64
 51  bus_stop_latitude          150634 non-null  float64
 52  bus_stop_longitude         150634 non-null  float64
 53  pri_sch_nearest_distance   150634 non-null  float64
 54  pri_sch_name               150634 non-null  object
 55  vacancy                    150634 non-null  int64
 56  pri_sch_affiliation        150634 non-null  bool
 57  pri_sch_latitude           150634 non-null  float64
 58  pri_sch_longitude          150634 non-null  float64
 59  sec_sch_nearest_dist       150634 non-null  float64
 60  sec_sch_name               150634 non-null  object
 61  cutoff_point               150634 non-null  int64
 62  affiliation                150634 non-null  bool
 63  sec_sch_latitude           150634 non-null  float64
 64  sec_sch_longitude          150634 non-null  float64
dtypes: bool(8), float64(18), int64(29), object(10)
memory usage: 66.7+ MB

#### Train/test split data

Assemble predictor variables (X) and our target (y)

In [27]:
# Preparing data for train/test split
X = housing.drop(['resale_price'], axis=1)
y = housing['resale_price']
X.head(2)

,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_year,tranc_year,tranc_month,lower_storey_range,upper_storey_range,mid_storey_range,...,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,sec_sch_latitude,sec_sch_longitude
0,4 ROOM,10 TO 12,90.0,Model A,2006,2016,5,10,12,11,...,78,True,1.317659,103.882504,1138.633422,Geylang Methodist School,224,False,1.317659,103.882504
1,5 ROOM,07 TO 09,130.0,Improved,1987,2012,7,7,9,8,...,45,True,1.349783,103.854529,447.894399,Kuo Chuan Presbyterian Secondary School,232,False,1.350110,103.854892

In [28]:
print(len(y))
y.iloc[:2]

150634

0    680000.0
1    665000.0
Name: resale_price, dtype: float64

In [29]:
# Perform a split of X and y.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123)
print(len(X_train), len(X_test))

112975 37659

#### Separate predictor variables based on datatypes

In [30]:
X_train_cont = X_train.select_dtypes(include=['int64', 'float64'])
X_train_cat = X_train.select_dtypes(include=['object', 'bool'])
X_test_cont = X_test.select_dtypes(include=['int64', 'float64'])
X_test_cat = X_test.select_dtypes(include=['object', 'bool'])

In [31]:
X_train_cont.shape

(112975, 46)

In [32]:
X_train_cat.shape

(112975, 18)

#### Scale continuous data

In [33]:
ss = StandardScaler()
X_train_cont = ss.fit_transform(X_train_cont)
X_test_cont = ss.transform(X_test_cont)

#### One-hot encoding categorical data

In [34]:
enc = OneHotEncoder(drop='first')
X_train_cat = enc.fit_transform(X_train_cat).toarray()
X_test_cat = enc.transform(X_test_cat).toarray()

#### Merge predictor variables back

In [35]:
X_train_cont = pd.DataFrame(X_train_cont, columns = ss.get_feature_names_out())
X_test_cont = pd.DataFrame(X_test_cont, columns = ss.get_feature_names_out())
X_train_cat = pd.DataFrame(X_train_cat, columns = enc.get_feature_names_out())
X_test_cat = pd.DataFrame(X_test_cat, columns = enc.get_feature_names_out())

In [36]:
X_train = X_train_cont.join(X_train_cat)
X_test = X_test_cont.join(X_test_cat)

In [37]:
X_train.shape

(112975, 609)

In [38]:
X_test.shape

(37659, 609)

## Modelling
- Fit linear regression
- Establish baseline score

Instantiate and fit the model

In [39]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

Evaluate model - establish baseline score

In [40]:
# Train score
lr.score(X_train, y_train)

0.9250891476749593

In [41]:
# Test score
lr.score(X_test, y_test)

0.9232554943456289

## Making Predictions

In [42]:
y_preds = lr.predict(X_test)
print(len(y_preds))
y_preds

37659

array([459250.5 , 466056.25, 702361.25, ..., 234155.5 , 392223.  ,
       388522.5 ])

Evaluate using RMSE (for Kaggle comparison)

In [43]:
np.sqrt(metrics.mean_squared_error(y_test, y_preds))

39773.92434270006

## Kaggle Data Preparation

In [44]:
# Load test data
housing_test = pd.read_csv('./output/housing_test.csv')
print(housing_test.shape)
housing_test.head(2)

(16737, 64)

,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_year,tranc_year,tranc_month,lower_storey_range,upper_storey_range,mid_storey_range,...,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,sec_sch_latitude,sec_sch_longitude
0,4 ROOM,07 TO 09,84.0,Simplified,1987,2012,11,7,9,8,...,92,False,1.433681,103.832924,156.322353,Ahmad Ibrahim Secondary School,218,False,1.436235,103.829987
1,5 ROOM,04 TO 06,112.0,Premium Apartment,2008,2019,8,4,6,5,...,45,False,1.339244,103.698896,739.371688,Jurong West Secondary School,199,False,1.335256,103.702098

In [45]:
# Check datatypes
housing_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 64 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   flat_type                  16737 non-null  object
 1   storey_range               16737 non-null  object
 2   floor_area_sqm             16737 non-null  float64
 3   flat_model                 16737 non-null  object
 4   lease_commence_year        16737 non-null  int64
 5   tranc_year                 16737 non-null  int64
 6   tranc_month                16737 non-null  int64
 7   lower_storey_range         16737 non-null  int64
 8   upper_storey_range         16737 non-null  int64
 9   mid_storey_range           16737 non-null  int64
 10  floor_area_sqft            16737 non-null  float64
 11  hdb_age                    16737 non-null  int64
 12  max_floor_lvl              16737 non-null  int64
 13  year_completed             16737 non-null  int64
 14  commercial                 16737 non-null  bool
 15  market_hawker              16737 non-null  bool
 16  multistorey_carpark        16737 non-null  bool
 17  precinct_pavilion          16737 non-null  bool
 18  total_dwelling_units       16737 non-null  int64
 19  1room_res                  16737 non-null  int64
 20  2room_res                  16737 non-null  int64
 21  3room_res                  16737 non-null  int64
 22  4room_res                  16737 non-null  int64
 23  5room_res                  16737 non-null  int64
 24  exec_res                   16737 non-null  int64
 25  multigen_res               16737 non-null  int64
 26  studio_res                 16737 non-null  int64
 27  1room_rental               16737 non-null  int64
 28  2room_rental               16737 non-null  int64
 29  3room_rental               16737 non-null  int64
 30  other_room_rental          16737 non-null  int64
 31  latitude                   16737 non-null  float64
 32  longitude                  16737 non-null  float64
 33  planning_area              16737 non-null  object
 34  mall_500m                  16737 non-null  int64
 35  mall_1km                   16737 non-null  int64
 36  mall_2km                   16737 non-null  int64
 37  hawker_nearest_distance    16737 non-null  float64
 38  hawker_500m                16737 non-null  int64
 39  hawker_1km                 16737 non-null  int64
 40  hawker_2km                 16737 non-null  int64
 41  hawker_stalls              16737 non-null  int64
 42  hawker_market_stalls       16737 non-null  int64
 43  mrt_nearest_distance       16737 non-null  float64
 44  mrt_name                   16737 non-null  object
 45  mrt_bus_interchange        16737 non-null  bool
 46  mrt_interchange            16737 non-null  bool
 47  mrt_latitude               16737 non-null  float64
 48  mrt_longitude              16737 non-null  float64
 49  bus_stop_nearest_distance  16737 non-null  float64
 50  bus_stop_latitude          16737 non-null  float64
 51  bus_stop_longitude         16737 non-null  float64
 52  pri_sch_nearest_distance   16737 non-null  float64
 53  pri_sch_name               16737 non-null  object
 54  vacancy                    16737 non-null  int64
 55  pri_sch_affiliation        16737 non-null  bool
 56  pri_sch_latitude           16737 non-null  float64
 57  pri_sch_longitude          16737 non-null  float64
 58  sec_sch_nearest_dist       16737 non-null  float64
 59  sec_sch_name               16737 non-null  object
 60  cutoff_point               16737 non-null  int64
 61  affiliation                16737 non-null  bool
 62  sec_sch_latitude           16737 non-null  float64
 63  sec_sch_longitude          16737 non-null  float64
dtypes: bool(8), float64(17), int64(32), object(7)
memory usage: 7.3+ MB

In [46]:
# Datatypes to do with time are changed to string datatypes so that they can be one hot encoded later
housing_test = housing_test.astype({'lease_commence_year':'object', 'tranc_year':'object', 'tranc_month':'object'})
housing_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 64 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   flat_type                  16737 non-null  object
 1   storey_range               16737 non-null  object
 2   floor_area_sqm             16737 non-null  float64
 3   flat_model                 16737 non-null  object
 4   lease_commence_year        16737 non-null  object
 5   tranc_year                 16737 non-null  object
 6   tranc_month                16737 non-null  object
 7   lower_storey_range         16737 non-null  int64
 8   upper_storey_range         16737 non-null  int64
 9   mid_storey_range           16737 non-null  int64
 10  floor_area_sqft            16737 non-null  float64
 11  hdb_age                    16737 non-null  int64
 12  max_floor_lvl              16737 non-null  int64
 13  year_completed             16737 non-null  int64
 14  commercial                 16737 non-null  bool
 15  market_hawker              16737 non-null  bool
 16  multistorey_carpark        16737 non-null  bool
 17  precinct_pavilion          16737 non-null  bool
 18  total_dwelling_units       16737 non-null  int64
 19  1room_res                  16737 non-null  int64
 20  2room_res                  16737 non-null  int64
 21  3room_res                  16737 non-null  int64
 22  4room_res                  16737 non-null  int64
 23  5room_res                  16737 non-null  int64
 24  exec_res                   16737 non-null  int64
 25  multigen_res               16737 non-null  int64
 26  studio_res                 16737 non-null  int64
 27  1room_rental               16737 non-null  int64
 28  2room_rental               16737 non-null  int64
 29  3room_rental               16737 non-null  int64
 30  other_room_rental          16737 non-null  int64
 31  latitude                   16737 non-null  float64
 32  longitude                  16737 non-null  float64
 33  planning_area              16737 non-null  object
 34  mall_500m                  16737 non-null  int64
 35  mall_1km                   16737 non-null  int64
 36  mall_2km                   16737 non-null  int64
 37  hawker_nearest_distance    16737 non-null  float64
 38  hawker_500m                16737 non-null  int64
 39  hawker_1km                 16737 non-null  int64
 40  hawker_2km                 16737 non-null  int64
 41  hawker_stalls              16737 non-null  int64
 42  hawker_market_stalls       16737 non-null  int64
 43  mrt_nearest_distance       16737 non-null  float64
 44  mrt_name                   16737 non-null  object
 45  mrt_bus_interchange        16737 non-null  bool
 46  mrt_interchange            16737 non-null  bool
 47  mrt_latitude               16737 non-null  float64
 48  mrt_longitude              16737 non-null  float64
 49  bus_stop_nearest_distance  16737 non-null  float64
 50  bus_stop_latitude          16737 non-null  float64
 51  bus_stop_longitude         16737 non-null  float64
 52  pri_sch_nearest_distance   16737 non-null  float64
 53  pri_sch_name               16737 non-null  object
 54  vacancy                    16737 non-null  int64
 55  pri_sch_affiliation        16737 non-null  bool
 56  pri_sch_latitude           16737 non-null  float64
 57  pri_sch_longitude          16737 non-null  float64
 58  sec_sch_nearest_dist       16737 non-null  float64
 59  sec_sch_name               16737 non-null  object
 60  cutoff_point               16737 non-null  int64
 61  affiliation                16737 non-null  bool
 62  sec_sch_latitude           16737 non-null  float64
 63  sec_sch_longitude          16737 non-null  float64
dtypes: bool(8), float64(17), int64(29), object(10)
memory usage: 7.3+ MB

#### Separate predictor variables based on datatypes

In [47]:
housing_test_cont = housing_test.select_dtypes(include=['int64', 'float64'])
housing_test_cat = housing_test.select_dtypes(include=['object', 'bool'])

#### Scale continuous data

In [48]:
housing_test_cont = ss.transform(housing_test_cont)

#### One-hot encoding categorical data

In [49]:
housing_test_cat = enc.transform(housing_test_cat).toarray()

#### Merge predictor variables back

In [50]:
housing_test_cont = pd.DataFrame(housing_test_cont, columns = ss.get_feature_names_out())
housing_test_cat = pd.DataFrame(housing_test_cat, columns = enc.get_feature_names_out())

In [51]:
housing_test = housing_test_cont.join(housing_test_cat)

#### Making predictions

In [52]:
housing_test_preds = lr.predict(housing_test)
print(len(housing_test_preds))
housing_test_preds

16737

array([381330.  , 477694.  , 375097.  , ..., 379955.25, 511474.5 ,
       396626.  ])

#### Load submission format

In [53]:
submission = pd.read_csv('../datasets/sample_sub_reg.csv')
print(submission.shape)
submission.head()

(16737, 2)

       Id  Predicted
0  114982     500000
1   95653     500000
2   40303     500000
3  109506     500000
4  100149     500000

In [54]:
submission['Predicted'] = housing_test_preds

In [55]:
submission.head()

       Id  Predicted
0  114982  381330.00
1   95653  477694.00
2   40303  375097.00
3  109506  293758.75
4  100149  423048.00

#### Save and export submission data

In [57]:
import os
if not os.path.exists('output'):
    os.makedirs('output')
submission.to_csv('output/submission0.csv', index=False)